/* @use './abstracts/' as a; */
@import './abstracts/variables.scss';
// @import './abstracts/mixins.scss';
@import './abstracts/fonts.scss';
@import './components/buttons.scss';
@import './layout/navbar.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font-family;
    scroll-behavior: smooth;
    font-size: 1rem;
};

*::before ::after {
    box-sizing: inherit;
}

.app {
    background-color: $main-background-color;
    min-height: 100vh;
};

/* .button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 8px 16px;
    background-color: a.$main-color;
    border: none;
    color: a.$white-color;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s ease all;
    &:hover {
        background-color: a.$btn-hover-color;
    }
} */

.container {
    width: 69rem;
    margin: 0 auto;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}
