.button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: .5rem 1rem;
    background-color: $main-color;
    border: none;
    color: $white-color;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s ease all;
    &:hover {
        background-color: $btn-hover-color;
    }
}

.button--srch {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: .125rem solid $main-color;
    &:hover {
        border-color: $btn-hover-color;
    }
}
.button--width {
    min-width: 15ch;
}